---
import Head from "../../components/Head.astro";
// export const prerender = true;
const { name } = Astro.params;

const res = await fetch("https://lesquel.github.io/img/Img.json"),
  json = await res.json();

let id = name * 1
let img = json[id]
---

<html lang="es">
  <Head />
  <body class="bg-[#101010]">
	<div class="container px-5 sm:mx-auto my-10">
		<header>
			<h1 class="text-7xl mb-10 py-5 text-[#efefef] font-bold">
				Mes 8
				<br>
				 <span class="text_change ">Te amo</span> 
				 <span class="text_change block sm:inline-block py-3"> Mi vida <span>❤️</span> </span>
			</h1>
		</header>
    	<a href="/" class="text-3xl font-bold text-white border border-[#FFF] p-2 rounded-md">Volver</a>

		<img class="md:w-1/2 mx-auto rounded-md" transition:animate="slide" transition:name={"img"+img.id} src={"https://lesquel.github.io/img/"+img.img} />
	</div>
  </body>
</html>
